<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.benjaminlize.smilealarm"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face"/>

        <provider
            android:name=".data.AlarmProvider"
            android:authorities="com.example.benjaminlize.smilealarm"
            android:enabled="true"
            android:exported="true">
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="Smile Alarm"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditAlarm"
            android:label="@string/title_activity_edit_alarm"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".SmileNow">

        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote"/>

        <activity
            android:name=".Thanks"
            android:label="@string/title_activity_thanks"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a7db9d6655b8a61f16ba6a8c62be1beef91a36c1" />
    </application>

</manifest>